# Advanced Topics for Lecture 6

## Self-Practice Using the `ExBook` Package

### Introduction to `ExBook`
`ExBook` is a Python package provided for students to practice Python programming by themselves. More information on `ExBook` can be found on the GitHub repository [here](https://github.com/XiongPengNUS/exbook). The package is installed by the following command.

In [1]:
!pip install --upgrade exbook

Requirement already satisfied: exbook in /Users/pengxiong/miniforge3/lib/python3.9/site-packages (0.0.5)

If the package is successfully installed, you should be able to run the code cell below.

In [2]:
from exbook import book as eb

len(eb)

36

The `len()` function returns the number of questions provided by the package.

If you are unable to install the package via the `pip` command, you may also use the online version of `ExBook` at: [Programming for Business Analytics](https://nus-biz-dao.herokuapp.com/) (Functions, Modules, and Packages).

### Steps of Running `ExBook`

1. Each question provided in the `ExBook` package can be accessed by an integer index starting from zero. See the examples below.

In [3]:
print(eb[0])

Define a function with two strings to be the input arguments. The output is
the summation of the numerical values of the input strings. For example, if
the input strings are "3.5"and "2.7", then the output is 6.2, as a floating
point number.

        Input1: str Input2: str Output: float
Test 1:         3.5         2.7           6.2

Data Type Conversion: Easy

In [4]:
print(eb[1])

Write a function to determine whether an integer is a palindrome. An integer
is a palindrome when it reads the same backward as forward. For example,
121 is a palindrome so the output is True, 10 is not a palindrome so the
output is False.

        Input1: int Output: bool
Test 1:         151         True
Test 1:          -5        False

Palindrome: Easy

It can be seen that each question involves:
- A description of the question
- A sample input/output table, which shows the values and types of the function inputs and outputs.
- The difficulty level of the question: easy, medium, hard, and very hard. 

2. According to the question description, we then define a function. For example, the function for `eb[0]` is defined as follows.

In [5]:
def func(string1, string2):
    
    return float(string1) + float(string2)

3. The `ExBook` package is able to automatically check the solution of the question in terms of the function defined above, using the `check()` method.

In [6]:
eb[0].check(func)

You passed 3 of the 3 tests.
The solution is correct

The `check()` method checks the correctness of the solution via a number of tests. If all tests are passed, then the solution is correct. 

If the solution fail to pass the all tests, you may use the `cheat=True` option to display the inputs and outputs of all tests, so that you can find out why the solution is not completely correct.

In [7]:
eb[0].check(func, cheat=True)

        Input 1: str Input 2: str Your output Correct output: float Correct
Test 1:          3.5          2.7         6.2                   6.2    True
Test 2:          1.2            5         6.2                   6.2    True
Test 3:            2            4         6.0                     6    True

You passed 3 of the 3 tests.
The solution is correct

You may now work on other questions using other question indexes 1, 2, ...