## Question 1

1. The variable `data` is defined to be the data frame below.

| |**Employee_Name**|**PayRate**|**Position**|**DOB**|**Sex**|**Married**|
|----:|---------------:|-----------:|----------:|------:|-------:|-------:|
|**0**| Brown, Mia | 28.5 | Accountant I | 11/24/87 | F | True |
|**1**| LaRotonda, William | 23.0 | Accountant I | 04/26/84 | M | False |
|**2**| Steans, Tyrone | 29.0 | Account I | 09/01/86 | M | False |
|**...**| ... | ... | ... | ... | ... | ... |
|**307**| Semizoglou, Jeremiah | 53.8 | Sr. Network Engineer | 02/09/83 | M | True |
|**308**| South, Joe | 53.0 | Sr. Network Engineer | 09/09/65 | M | False |
|**309**| Warfield, Sarah | 55.2 | Sr. Network Engineer | 05/02/78 | F | False |

The column **DOB** gives the date of birth expressed as MM/DD/YY for each individual. Which of the following code segments is correct in creating a new column `Age` that is the age (2022 - birth year) of the individual?

    A. 
---
```python
data['Age'] = 122 – data['DOB'].astype(str)[-2:].astype(int)
```
---

    B. 
---
```python
data['Age'] = 122 – data['DOB'].str.astype(str)[-2:].astype(int)
```
---

    C. 
---
```python
data['Age'] = 122 – data['DOB'].str[-2:].astype(int)
```
---

    D.
---
```python
data['Age'] = 122 – str(data['DOB'])[-2:].astype(int)
```
---

## Question 2

Considering the following dataset on Singapore private house properties.

In [1]:
import pandas as pd

prop = pd.read_csv('properties2.csv')
prop

,project,street,type,district,segment,tenure,commence,sale,price,area,level,date
0,PARC CLEMATIS,JALAN LEMPENG,Apartment,5,OCR,99 years,2019.0,New Sale,2567000,1496,11 to 15,Dec-21
1,ONE PEARL BANK,PEARL BANK,Apartment,3,RCR,99 years,2019.0,New Sale,2986000,1281,16 to 20,Dec-21
2,ONE PEARL BANK,PEARL BANK,Apartment,3,RCR,99 years,2019.0,New Sale,1835000,700,21 to 25,Dec-21
3,ONE PEARL BANK,PEARL BANK,Apartment,3,RCR,99 years,2019.0,New Sale,1924000,840,06 to 10,Dec-21
4,THE CREST,PRINCE CHARLES CRESCENT,Condominium,3,RCR,99 years,2012.0,Resale,1620000,883,11 to 15,Dec-21
...,...,...,...,...,...,...,...,...,...,...,...,...
104896,FLORAVILLE,CACTUS ROAD,Apartment,28,OCR,freehold,NaN,New Sale,910000,818,01 to 05,Jan-17
104897,EUPHONY GARDENS,JALAN MATA AYER,Condominium,27,OCR,99 years,1998.0,Resale,739998,1044,01 to 05,Jan-17
104898,SYMPHONY SUITES,YISHUN CLOSE,Condominium,27,OCR,99 years,2014.0,New Sale,875000,797,11 to 15,Jan-17
104899,SYMPHONY SUITES,YISHUN CLOSE,Condominium,27,OCR,99 years,2014.0,New Sale,759000,689,11 to 15,Jan-17
104900,SELETAR PARK RESIDENCE,SELETAR ROAD,Condominium,28,OCR,99 years,2011.0,Resale,1060000,872,01 to 05,Jan-17

Details of the variables are given below:
- `project`: The name of the property project.
- `street`: The street name of the property.
- `type`: The type of the property: apartment or condominium.
- `district`: Location of the property, given as the district code of Singapore, details can be found [here](https://www.mingproperty.sg/singapore-district-code/).
- `segment`: Location of the property, given as the region segment of Singapore: Core Central Region (CCR), Rest of Central Region (RCR), or the Outside Central Region (OCR).
- `tenure`: The tenure type of the property: 99 years or freehold.
- `commence`: The commencing year of the property.
- `sale`: The sales type of the property: new sale or resale.
- `price`: The total price (in Singapore Dollars) of the property.
- `area`: The area of the property in square feet.
- `level`: The levels of the condos.
- `date`: The date of the transaction. 

1. What is the percentage of records that have the commencing year to be missing?

2. Create a new column called `price_psf` that is the per square foot price of these properties, i.e. the total price divided by the area.

3. How many records in the dataset are condos/apartments located in district 5 and their levels are higher than 20?

**Solution**:

4. What is the average per square foot price of all condos/apartments located in district 5 and their levels are higher than 20?
**Solution**:

5. Consider all condos/apartments transactions that were done in 2020 or later, what is the median of the areas?

**Solution**:

6. Consider all transactions that were done in 2020 or later, what is the percentage of condos/apartments that are located in the RCR region?

**Solution**:

7. Consider transaction records that are 1) resale condos with a 99-year tenure; 2) with a total price between 2,000,000 and 2,200,000; and 3) sold in the year of 2021, use data visualization to show how the commencing years affect the per square foot prices.

**Solution**:

## Question 3

In the research paper [*Chocolate Consumption, Cognitive Function, and Nobel Laureates*](https://www.nejm.org/doi/full/10.1056/nejmon1211064) published on *New England Journal of Medicine*, the author is trying to prove that chocolate consumption may improve cognitive function not only in individuals but in whole populations. The main evidence is shown by the following figure.

<img src="https://github.com/XiongPengNUS/dao_resources/blob/main/choco_nobel.png?raw=true" width=600>

Do you agree that the data visual above is sufficient in proving that consuming chocolate will improve the cognitive function of the whole population?

**Solution**: